@font-face {
	font-family: "Maison Neue Bold";
	src: url("../fonts/Maison Neue/MaisonNeue-Bold.otf");
}

@font-face {
	font-family: "Maison Neue Book";
	src: url("../fonts/Maison Neue/MaisonNeue-Book.otf");
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #000	;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

/* INICIO HEADER STYLES */
header {
	grid-column: 1 / 13;
}

.hr-container {
	grid-column: 1/13;
}

.delimiter {
	width: 95%;
	color: #fff;
}

#header-logo-container {
	grid-column:  1 / 5;
	background-color: black;
	grid-row: 1 / 2;
	text-align: left;
}

#header-logo {
	width: 125px;
	padding-left: 100px;
	padding-top: 20px;
	position: absolute;
}

#nav-container {
	grid-column:  5 / 9;
	background-color: #000;
	grid-row: 1 / 2;
	padding-top: 40px;
}

#nav-menu-list {
	text-align: center;
}

.nav-menu-item {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	font-family: "Maison Neue Book";
	font-size: 20px;
	color: #fff;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

.nav-menu-item:hover {
	text-decoration: none;
	color: rgb(255, 211, 0);
}

.current {
	color: #fff;
	border-bottom: 1px solid rgb(255, 211, 0);
}

#session-container {
	grid-column:  9 / 13;
	grid-row: 1 / 2;
	background-color: black;
	padding-right: 100px;
	text-align: right;
	z-index: 0;
	margin-top: -40px;
}

#login-container {
	color: #fff;
	font-family: "Maison Neue Book";
	font-size: 20px;
	background-color: #000;
	border: 0px;
}

span .login-user {
	color: rgb(255, 211, 0);
	font-family: "Maison Neue Book";
	font-size: 20px;
}

.login-access {
	color: #fff;
	font-family: "Maison Neue Book";
	font-size: 20px;
}

.login-access:hover {
	color: rgb(255, 211, 0);
	font-family: "Maison Neue Book";
	font-size: 20px;
}

/* FIN HEADER STYLES */

#main-container {
	grid-column: 1 / 13;
	background-color: #000;
	color: #fff;
	padding-top: 100px;
	text-align: center;
}

#tableName-container {
	font-family: "Maison Neue Bold";
	font-size: 250px;
	color: #fff;
}

#main-table {
	grid-column: 1 / 13;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 150px;
}

.column-field {
	color: rgb(255, 211, 0);
	font-family: "Maison Neue Bold";
	font-size: 35px;
	padding-left: 15px;
	padding-right: 15px;
}

.row-field {
	color: #fff;
	font-family: "Maison Neue Book";
	font-size: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

#button-form {
	padding-bottom: 50px;
}

.button {
	background-color: #000;
	color: #fff;
	font-family: "Maison Neue Book";
	font-size: 25px;
	border: 1px solid rgb(255, 211, 0);
	border-radius: 50px;
	width: 20%;
	height: 75px;

}

.button:hover {
	background-color: rgb(255, 211, 0);
	color: #000;
	font-family: "Maison Neue Book";
	font-size: 25px;
	border: 1px solid rgb(255, 211, 0);
	border-radius: 50px;
	width: 20%;
	height: 75px;

}

#newDataTable {
	grid-column: 1 / 13;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.newDataInput {
	background-color: #fff;
	color: #000;
	font-family: "Maison Neue Book";
	font-size: 20px;
	height: 25px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 50px;
	padding: 5px;
	margin: 5px;
}

#newDataForm {
	padding-bottom: 50px;
}


