@font-face {
	font-family: "Maison Neue Bold";
	src: url("../fonts/Maison Neue/MaisonNeue-Bold.otf");
}

@font-face {
	font-family: "Maison Neue Book";
	src: url("../fonts/Maison Neue/MaisonNeue-Book.otf");
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #000;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

/* INICIO HEADER STYLES */
header {
	grid-column: 1 / 13;
}

#header-logo-container {
	grid-column:  1 / 5;
	background-color: black;
	grid-row: 1 / 2;
	text-align: left;
}

#header-logo {
	width: 125px;
	padding-left: 100px;
	padding-top: 20px;
	position: absolute;
}

#nav-container {
	grid-column:  5 / 9;
	background-color: #000;
	grid-row: 1 / 2;
	padding-top: 40px;
}

#nav-menu-list {
	text-align: center;
}

.nav-menu-item {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	font-family: "Maison Neue Book";
	font-size: 20px;
	color: #fff;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

.nav-menu-item:hover {
	text-decoration: none;
	color: rgb(255, 211, 0);
}

.current {
	color: #fff;
	border-bottom: 1px solid rgb(255, 211, 0);
}

#session-container {
	grid-column:  9 / 13;
	grid-row: 1 / 2;
	background-color: black;
	padding-right: 100px;
	text-align: right;
	z-index: 0;
	margin-top: -40px;
}

#login-container {
	color: #fff;
	font-family: "Maison Neue Book";
	font-size: 20px;
	background-color: #000;
	border: 0px;
}

span .login-user {
	color: rgb(255, 211, 0);
	font-family: "Maison Neue Book";
	font-size: 20px;
}

.login-access {
	color: #fff;
	font-family: "Maison Neue Book";
	font-size: 20px;
}

.login-access:hover {
	color: rgb(255, 211, 0);
	font-family: "Maison Neue Book";
	font-size: 20px;
}

/* FIN HEADER STYLES */

#main-container {
	grid-column: 1 / 13;
	background-color: #000;
	padding: 150px;
	padding-bottom: 0px;
	text-align: center;
}

#register-quote {
	font-family: "Maison Neue Bold";
	font-size: 250px;
	color: #fff;
	padding-bottom: 50px;
}

td {
	padding: 10px;
}

.spacing {
   padding-top: 50px;
}

#dataTable {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
}

#passwordTable {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 50px;
	padding-bottom: 50px;
}

.input-quote {
	font-family: "Maison Neue Bold";
	font-size: 75px;
	color: #fff;
	padding-right: 50px;
}

.inputNewData {
	background-color: #000;
	color: #fff;
	border: 1px solid rgb(255, 211, 0);
	border-radius: 50px;
	font-family: "Maison Neue Book";
	font-size: 25px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 0;
	height: 50px;
	width: 100%;
	text-align: center;

}

#main-logo-container {
	grid-column: 1 / 5;
	background-color: #000;
	text-align: center;
}

#main-logo {
	width: 65%;
	padding-top: 200px;
	padding-left: 125px;
}

#main-form-container {
	grid-column: 5 / 13;
	background-color: #000;
	text-align: center;
	padding-right: 250px;
	padding-bottom: 100px;
}


.input-box {
	width: 70%;
	padding: 25px;
	border: 2px solid rgb(255, 211, 0);
	border-radius: 50px;
	background-color: #000;
	color: #fff;
	font-family: "Maison Neue Book";
	font-size: 25px;
	margin: 5px;
	text-align: center;
}

.input-box:hover {
	width: 70%;
	padding: 25px;
	border: 2px solid #fff;
	border-radius: 50px;
	background-color: #000;
	color: #fff;
	font-family: "Maison Neue Book";
	font-size: 25px;
	margin: 5px;
	text-align: center;
}

.input-box:focus {
	outline: none;
}



#button {
	width: 70%;
	padding: 25px;
	background-color: #000;
	color: #fff;
	font-family: "Maison Neue Book";
	font-size: 25px;
	border: 1px solid rgb(255, 211, 0);
	border-radius: 50px;
	margin-bottom: 50px;
}

#button:hover {
	width: 70%;
	padding: 25px;
	background-color: rgb(255, 211, 0);
	color: #000;
	font-family: "Maison Neue Book";
	font-size: 25px;
	border: 1px solid rgb(255, 211, 0);
	border-radius: 50px;
	margin-bottom: 50px;
}

#form-title {
	font-family: "Maison Neue Bold";
	font-size: 150px;
	color: #fff;
	margin-bottom: 75px;
}

.input-title {
	font-family: "Maison Neue Book";
	font-size: 25px;
	color: #fff;
}

.errorLog {
	color: red;
	padding-bottom: 50px;
	font-family: "Maison Neue Book";
	font-size: 25px;
}

.successLog {
	color: #fff;
	padding-bottom: 50px;
	font-family: "Maison Neue Book";
	font-size: 25px;
	padding-bottom: 50px;
}

.underlineSuccessLog {
	text-decoration: underline;
	color: rgb(255, 211, 0);
}

.underlineSuccessLog:hover {
	text-decoration: underline;
	color: rgb(255, 211, 0);
}

/* INICIO FOOTER STYLES */

#footer-container {
	grid-column: 1/13;
	background-color: #000;
	text-align: center;
	padding-bottom: 25px;
}

#footer-logo {
	width: 125px;
}

/* FIN FOOTER STYLES */